#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10


#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>


/ {


    behaviors {
    };



    keymap {
        compatible = "zmk,keymap";

        layer0 {
            bindings = <
&kp TAB     &kp B      &kp W         &kp E
&kp CAPS    &kp A      &kp S         &kp D
&kp LSHFT   &kp Z      &kp X         &kp C
                       &kp LEFT_GUI  &kp LEFT_ALT
            >;

            display-name = "LAYER0";
        };




    };
};
